:root {
	--bg-img: none;
}

.bg-0 {
	--bg-img: url('../images/backgrounds/IMG_1309.jpg');
}

.bg-1 {
	--bg-img: url('../images/backgrounds/IMG_1337.jpg');
}

.bg-2 {
	--bg-img: url('../images/backgrounds/IMG_1340.jpg');
}

.bg-3 {
	--bg-img: url('../images/backgrounds/IMG_1349.jpg');
}

.bg-4 {
	--bg-img: url('../images/backgrounds/IMG_1350.jpg');
}

.bg-5 {
	--bg-img: url('../images/backgrounds/IMG_2068.jpg');
}

.bg-6 {
	--bg-img: url('../images/backgrounds/IMG_2085.jpg');
}

.bg-7 {
	--bg-img: url('../images/backgrounds/IMG_2119.jpg');
}

.bg-8 {
	--bg-img: url('../images/backgrounds/IMG_2129.jpg');
}

.bg-9 {
	--bg-img: url('../images/backgrounds/IMG_2303.jpg');
}

.bg-10 {
	--bg-img: url('../images/backgrounds/IMG_2310.jpg');
}

.bg-11 {
	--bg-img: url('../images/backgrounds/IMG_2317.jpg');
}

.bg-12 {
	--bg-img: url('../images/backgrounds/IMG_2479.jpg');
}

.bg-13 {
	--bg-img: url('../images/backgrounds/IMG_4825.jpg');
}

.bg-14 {
	--bg-img: url('../images/backgrounds/IMG_4850.jpg');
}

.bg-15 {
	--bg-img: url('../images/backgrounds/IMG_4852.jpg');
}

.bg-16 {
	--bg-img: url('../images/backgrounds/IMG_4853.jpg');
}

.bg-17 {
	--bg-img: url('../images/backgrounds/IMG_4854.jpg');
}

.bg-18 {
	--bg-img: url('../images/backgrounds/IMG_4855.jpg');
}

.bg-19 {
	--bg-img: url('../images/backgrounds/IMG_4856.jpg');
}

.bg-20 {
	--bg-img: url('../images/backgrounds/IMG_8801-HDR.jpg');
}

.bg-21 {
	--bg-img: url('../images/backgrounds/IMG_8820-HDR.jpg');
}

.bg-22 {
	--bg-img: url('../images/backgrounds/IMG_8846-HDR.jpg');
}

.bg-23 {
	--bg-img: url('../images/backgrounds/IMG_8892-HDR.jpg');
}

.bg-24 {
	--bg-img: url('../images/backgrounds/IMG_8895-HDR.jpg');
}

html {
	min-height: 100%;
}

body {
	font-family: 'Metrophobic', sans-serif;
	margin: 0;
	background: var(--bg-img) no-repeat center center fixed;
	background-size: 100%;
	background-size: cover;
	overflow-y: hidden;
}

.bg-cover {
	background: linear-gradient(to bottom, rgba(226,226,226,0.85) 0%, rgba(226,226,226,0.85) 40%,rgba(226,226,226,0) 100%);
	height: 400px;
	width: 100%;
	position: absolute;
	top: 0;
}

.content {
	padding: 2px 20px 160px;
	animation: deblur 1s linear forwards;
	filter: blur(20px);
}

@keyframes deblur {
	100% {
		filter: blur(0);
	}
}

h1, h2, h3, h4, h5, h6,
input {
	font-family: 'Alegreya Sans SC', sans-serif;
}

a {
	color: #CE35DE;
	text-decoration: none;
}

a:visited,
a:hover,
a:active {
	color: #35ADDE;
}

.links {
	margin-left: -20px;
	position: relative;
	width: 500px;
	height: 220px;
}

.hex {
	width: 94px;
	height: 104px;
	position: absolute;
	top: 0;
	left: 0;
}

.hex-inner {
	width: 84px;
	height: 94px;
	position: absolute;
	left: 5px;
	top: 5px;
}

.hex-shell {
	display: inline-block;
	margin: 20px;
	position: absolute;
	width: 94px;
	height: 96px;
	transform-origin: bottom center;
}

.hex-shell:nth-child(1) { /* github */
	top: 0px;
	left: 146px;
}

.hex-shell:nth-child(5) { /* instagram */
	top: 74px;
	left: 0px;
}

.hex-shell:nth-child(7) { /* 500px */
	top: 74px;
	left: 98px;
}

.hex-shell:nth-child(8) { /* email */
	top: 148px;
	left: 244px;
}

.hex-shell:nth-child(2) { /* linkedin */
top: 0px;
left: 244px;
}

.hex-shell:nth-child(3) { /* wordpress */
	top: 0px;
	left: 48px;
}

.hex-shell:nth-child(4) { /* twitter */
	top: 74px;
	left: 196px;
}

.hex-shell:nth-child(6) { /* goodreads */
	top: 148px;
	left: 146px;
}

.hex-shell:nth-child(9) { /* sfaqi */
	top: 148px;
	left: 48px;
}

.hex-center {
	width: 84px;
	height: 94px;
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
